- @title = "Middleman Twitter Bootstrap Success"
- @bodyclass = "newproject"

.hero-unit
  :markdown
    #### This project is bootstrapped!

:markdown
  ## Setup
  
  Now setup your blog as described in [the middleman blogging extension documentation](http://middlemanapp.com/extensions/blog/) 
  
  ### Views & Layouts

  Your source files are stored in the <kbd>source</kbd> folder. The main layout
  file for this project is <kbd>source/layout.haml</kbd>.

:markdown
  ### Stylesheets, Sass &amp; Compass

  This project is pre-configured for [Sass](http://sass-lang.com) and
  [Compass](http://compass-style.org). Store your <kbd>sass</kbd> and
  <kbd>scss</kbd> files in the <kbd>source/stylesheets</kbd> directory.

  Twitter bootstrap styles are pulled in via the [bootstrap-sass](https://github.com/thomas-mcdonald/bootstrap-sass)
  gem.
  
  The <kbd>source/stylesheets/screen.css.sass</kbd> stylesheet shows how to customise twitter bootstrap
  styles using the variables that are provided for precisely this purpose. 

  
